body{
    padding-top: 10%;
    font-family:COMIC SANS MS; 
    font-size: 17px;
}
#Logo{
    width: 15%;
    height: 15%;
	padding: 10px;
	
}
#nav-1{
    height:auto;
    background-image: url("Assets/Images/nav-bar-img.jpg");
    
}
.header-wrapper{
    align-items: center;
 

}
#menu {

}
#menu a{
    color: #ff0080;
    padding: 14px 16px;
	padding-right:14px;
    font-size: 17px;
    font-family:COMIC SANS MS; 
  
}
#menu a:hover{
    background:black;
    font-weight:bolder;
}
#menu l1 a:hover{
   
}
#menu li a:active{
    background:black;
}
#side-menu a{
	text-align:left;
	text-decoration:none;
    
	color:#ff0080;
	font-size:17px;
	font-family:COMIC SANS MS; 
	background-color:black;	
    padding: 16px 16px;
	display: block;
	width: auto;
}
#side-menu li{
    list-style: none;
}

#side-menu a:hover{
	background:white;
	font-weight:bolder;
	
}
#side-menu li a:active{
	background-color:#4CAF50;
	color:white;
	
}
.main-wrapper{
    padding-top: 70px;
    height:auto;
    align-content: center;
    background-size:100% 100%;
}   

#land-img img{
    height:200px;
    width:200px;
}
.affix {
      height: auto;
      /*width: 100%;*/
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
.table{
    height: auto;
}
button {
     
}

#reg{
    align-items:  center;
}
footer{
text-align: center;
background-color: #f8f8f8;
font-size: 14px;
line-height: 100%;
}

#index img{
float:right;
width:100%;
height:80%;

}
p{
    font-size: 17px;
    font-family:  COMIC SANS MS;
}
#index-info{
    font-size: 20px;
    font-family: COMIC SANS MS;
    text-align: center;
}


#index-info{
    align-content: center;
    align-self: center;
}
.left_forms{
    float: left;
}
.right_forms{
    float: right;
}
form{
    padding-right:25px;
    padding-bottom:15px;
    
}
.index_links li { 
box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
border-radius: 2px;
border: none;
cursor: pointer;
font-size: 2em;
line-height: 1.6em;
margin: 2em 2em 2em;
outline: none;
padding: .8em 0;    
display:block;

}
.index_links a{
background: #ff0080;
color: #fff;
text-decoration: none;
font-family:COMIC SANS MS; 
font-size: 40px;
width: 100%;
}
.index_links a:hover{
text-decoration: none;
font-weight:bolder;
background:#94af65;
font-family:COMIC SANS MS; 
color: #fff;
}
.index_links ul{
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 700px;
	
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
   border-radius: 2px;
 }
